/* cheer up emo kid */

html,body {
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}
core-toolbar {
    background: #556270;
    color: white;
}
paper-tabs::shadow #selectionBar {
    background-color: #4ECDC4;
}
paper-tab::shadow #ink {
    color: #FF6B6B;
}
#channels {
    width: 400px;
    margin: 0;
    user-select: none;
}
.racks {
    width: 800px;
    margin: 20px auto;
}

