[Desktop Entry]
Type=Application
Name=1TV
Exec=iceweasel -no-remote http://local.1tv.ru:8080
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
